@page
@model AboutModel
@{
    ViewData["Title"] = "Sobre Mim";
}
<h2>@ViewData["Title"]</h2>


        <h2 class="text-center">Thomaz Peres - Software Developer</h2>
        <p align="center">
            <img src="https://i.ibb.co/QNdwwg7/18297059-819165418249828-124287456-o.jpg" alt="Foto Thomaz Peres">
        </p>
        <br />

        <h3 class="text-justify">🔥 Mini Bio 🔥</h3>
        <hr />
        <p class="text-text-justify">
            Aqui vai entrar uma explicação bonita sobre mim Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat autem eos reiciendis, aut odit esse ipsum excepturi soluta temporibus tenetur facilis, amet deleniti corporis accusantium repudiandae veritatis laudantium labore ut?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis quidem asperiores mollitia autem possimus iusto aliquam recusandae enim corporis sed, non numquam tenetur nulla vel? Delectus nihil omnis sint quo!Loremlroem
            lorem Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae fuga in dolorum natus assumenda consequuntur fugit, cum iusto quis vitae harum quae veniam itaque autem nihil veritatis expedita! Ducimus, incidunt.
        </p>
        <br />

        <h3 class="text-justify">Informações Pessoais:</h3>
        <hr />
        <dl>
            <dt>Nome: Thomaz Peres</dt>
        </dl>
        <dl>
            <dt>LinkedIn: <a href="https://www.linkedin.com/in/thomaz-peres-silva-94b55815b/">Thomaz Peres</a></dt>
        </dl>
        <dl>
            <dt>Profissão: Assistente Operador de dados | Futuramente cmo Back-End .NET C#</dt>
        </dl>
        <dl>
            <dt>GitHub: <a href="https://gist.github.com/Thomaz-Peres">Thomaz Peres</a></dt>
        </dl>
        <dl>
            <dt>Localização: São Paulo, Brasil</dt>
        </dl>

