@page
@model IndexModel
@{
    ViewData["Title"] = "Pagina de Filmes Thomaz";
}

<div class="jumbotron">
    <div class="container">
        <h1 class="text-center">ASP.NET CORE Iniciante</h1>
        <h2 class="text-center">Thomaz Peres - Software Developer</h2>
    </div>
    <hr class="m-y-md">
    <p>Me siga no LinkedIn</p>
    <p class="lead">
        <a class="btn btn-danger btn-lg" href="https://www.linkedin.com/in/thomaz-peres-silva-94b55815b/" role="button">Me siga!!</a>
    </p>
</div>