@page
@model PrivacyModel
@{
    ViewData["Title"] = "Contato - Thomaz Peres";
}
<h1>@ViewData["Title"]</h1>

<p>Não hesitem em entrar em contato!</p>

<div class="container">
    <div class="row">
        <a class="btn btn-primary" href="https://www.linkedin.com/in/thomaz-peres-silva-94b55815b/">LinkedIn</a> 
        <a class="btn btn-primary" href="https://github.com/Thomaz-Peres">GitHub</a> 
        <a class="btn btn-primary" href="https://twitter.com/thomaz_peres">Twitter</a>
    </div>
</div>